#home {
  .info {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-weight: 500;
    color: #fff;
    h4 {
      font-weight: 900;
    }
    i {
      font-size: 65px;
      color: #0000001a;
    }
    i:hover {
      font-size: 70px;
      transition: all 0.2s ease-in-out;
    }
  }
}
