@import "/src/assets/styles/abstracts/variables";

#sidebar {
  height: 100vh;
  background-color: $secondary-color;
  transition: all 0.5s ease-in;
  color: #c2c7d0;
  .user {
    img {
      width: 20%;
      border-radius: 50%;
    }
    border-bottom: 1px solid #4b545c;
    &:hover span {
      color: #fff;
      transition: all 0.2s ease-in;
    }
  }
  ul {
    list-style: none;
    padding: 15px 0px;

    li {
      padding: 10px 20px 10px 30px;
      a {
        text-decoration: none;
        color: #ffffff81;

        i {
          margin-right: 10px;
          width: 2rem;
        }
        span {
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
    li:hover {
      background-color: rgb(169, 169, 169, 0.5);
      width: 90%;
      margin: auto;
      border-radius: 8px;
      transition: all 0.3s ease-in;

      a {
        color: #fff !important;
        transition: all 0.3s ease-in;
      }
    }
  }
}

.bg-active {
  background-color: #ffffffe6;
  width: 90%;
  margin: auto;
  border-radius: 8px;
  a {
    color: $secondary-color !important;
  }
}
