<section id="profile">
  <div class="container">
    <div class="row mt-4">
      <!-- header -->
      <div class="d-flex justify-content-between">
        <h3>Profile</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard/home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              User Profile
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-md-3">
        <!-- personal info -->
        <div class="profile-card shadow text-center p-3">
          <div class="">
            <img
              src="../../../../../../assets/images/user-image-sidebar.jpg"
              class="w-50 rounded-circle mb-2 img-border"
              alt=""
            />
            <h5>{{ userData?.name }}</h5>
            <p>Software Engineer</p>
          </div>
          <div class="item">
            <p>Followers</p>
            <p class="num">1,232</p>
          </div>
          <div class="item">
            <p>Following</p>
            <p class="num">588</p>
          </div>
          <div class="item border-0">
            <p>Friends</p>
            <p class="num">13,232</p>
          </div>
          <button class="w-100 rounded bg-main border-0 py-2 text-white">
            Follow
          </button>
        </div>
        <div class="profile-card shadow text-center my-3">
          <div class="bg-main rounded-top-3 py-2 text-white">
            <h5>About Me</h5>
          </div>
          <div class="item1">
            <h6><i class="fa-solid fa-building"></i> Company</h6>
            <p>
              {{ userData?.company?.name }} <span>/</span>
              {{ userData?.company?.bs }} <span>/</span>
              {{ userData?.company?.catchPhrase }}
            </p>
          </div>
          <div class="item1">
            <h6><i class="fa-solid fa-location-dot"></i> Address</h6>
            <p>
              {{ userData?.address?.city }} <span>/</span>
              {{ userData?.address?.street }} <span>/</span>
              {{ userData?.address?.suite }}
            </p>
          </div>
          <div class="item1">
            <h6><i class="fa-solid fa-id-card"></i> Personal Info</h6>
            <p><i class="fa-solid fa-envelope"></i> {{ userData?.email }}</p>
            <p>User Name: {{ userData?.username }}</p>
            <p>Website: {{ userData?.website }}</p>
            <p><i class="fa-solid fa-phone"></i> {{ userData?.phone }}</p>
          </div>
        </div>
      </div>
      <!-- user activity -->
      <div class="col-md-9">
        <div class="profile-card border-0 p-3">
          <h5 class="border-bottom pb-2">Activity</h5>
          <div class="activity">
            <div class="d-flex align-items-center">
              <img
                src="../../../../../../assets/images/user-image-sidebar.jpg"
                class="rounded-circle img-border comment-img"
                alt=""
              />
              <div>
                <span class="text-main">{{ comments?.[0]?.name }}</span
                ><br />
                <span class="text-muted">{{ comments?.[0]?.email }}</span>
              </div>
            </div>
            <p class="comment">{{ comments?.[0]?.body }}</p>
            <div class="d-flex react">
              <p class="comment pointer">
                <i class="fa-solid fa-share"></i> Share
              </p>
              <p class="comment pointer">
                <i class="fa-regular fa-thumbs-up"></i> Like
              </p>
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                ><i class="fa-regular fa-comments"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Type your comment"
                aria-label="Username"
                aria-describedby="addon-wrapping"
              />
            </div>
          </div>
          <div class="activity">
            <div class="d-flex align-items-center">
              <img
                src="../../../../../../assets/images/user-image-sidebar.jpg"
                class="rounded-circle img-border comment-img"
                alt=""
              />
              <div>
                <span class="text-main">{{ comments?.[1]?.name }}</span
                ><br />
                <span class="text-muted">{{ comments?.[1]?.email }}</span>
              </div>
            </div>
            <p class="comment">{{ comments?.[1]?.body }}</p>
            <div class="d-flex react">
              <p class="comment pointer">
                <i class="fa-solid fa-share"></i> Share
              </p>
              <p class="comment pointer">
                <i class="fa-regular fa-thumbs-up"></i> Like
              </p>
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                ><i class="fa-regular fa-comments"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Type your comment"
                aria-label="Username"
                aria-describedby="addon-wrapping"
              />
            </div>
          </div>

          <div class="activity">
            <div class="d-flex align-items-center">
              <img
                src="../../../../../../assets/images/user-image-sidebar.jpg"
                class="rounded-circle img-border comment-img"
                alt=""
              />
              <div>
                <span class="text-main">{{ comments?.[2]?.name }}</span
                ><br />
                <span class="text-muted">{{ comments?.[2]?.email }}</span>
              </div>
            </div>
            <div *ngFor="let item of photos; let i = index" class="d-inline">
              <img *ngIf="i < 5" [src]="item?.url" class="w-25 m-2" alt="" />
            </div>
            <div class="d-flex react">
              <p class="comment pointer">
                <i class="fa-solid fa-share"></i> Share
              </p>
              <p class="comment pointer">
                <i class="fa-regular fa-thumbs-up"></i> Like
              </p>
            </div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                ><i class="fa-regular fa-comments"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Type your comment"
                aria-label="Username"
                aria-describedby="addon-wrapping"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
