$main-color: #007bff;
$secondary-color: #343A40;
$third-color: #28a745;

.bg-main,
.text-main {
  background-color: $main-color;
}
.bg-secondaryColor,
.text-secondaryColor {
  background-color: $secondary-color;
}
.bg-third,
.text-third {
  background-color: $third-color;
}